---
version: "2.1"

volumes:

  # External named volumes.
  # These are intended to be accessible beyond the docker host (e.g. via NFS).
  # They use bind mounts to mount a specific "local" directory on the docker
  # host - the expectation being that these directories are actually mounted
  # filesystems from elsewhere.
  # ( Note that we can't mount single files as external volumes in compose
  # https://github.com/docker/compose/issues/424 )

  archivematica_storage_service_location_data:
    external:
      name: "ss-location-data"
  mysql_data:
    external:
      name: "mysql-data"
  archivematica_storage_service_staging_data:
    external:
      name: "ss-staging-data"
  archivematica_storage_service_code:
    external: 
      name: "ss-code"
  archivematica_pipeline_data:
    external:
      name: "am-pipeline-data"
  archivematica_sampledata:
    external:
      name: "archivematica-sampledata"

services:

  mysql:
    image: "percona:5.6"
    user: "mysql"
    command: --character-set-server=utf8 --collation-server=utf8_general_ci
    environment:
      MYSQL_ROOT_PASSWORD: "12345"
    volumes:
      - "mysql_data:/var/lib/mysql"
    ports:
      - "127.0.0.1:62001:3306"


  nginx:
    image: "nginx:stable-alpine"
    volumes:
      - "{{ amcont_compose_cfg_dir }}/etc/nginx/nginx.conf:/etc/nginx/nginx.conf:ro"
      - "{{ amcont_compose_cfg_dir }}/etc/nginx/conf.d/archivematica.conf:/etc/nginx/conf.d/archivematica.conf:ro"
      - "{{ amcont_compose_cfg_dir }}/etc/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf:ro"
    ports:
      - "80:80"
      - "8000:8000"


  archivematica-storage-service:
    build:
      context: "{{ amcont_src_dir }}/archivematica-storage-service"
    environment:
      FORWARDED_ALLOW_IPS: "*"
      SS_GUNICORN_ACCESSLOG: "/dev/null"
      SS_GUNICORN_RELOAD: "true"
      SS_GUNICORN_RELOAD_ENGINE: "auto"
      DJANGO_SETTINGS_MODULE: "storage_service.settings.local"
      SS_DB_URL: "mysql://archivematica:demo@mysql/SS"
      SS_GNUPG_HOME_PATH: "/var/archivematica/storage_service/.gnupg"
      SS_PROMETHEUS_ENABLED: "true"
    volumes:
      - "archivematica_storage_service_code:/src/"
      - "archivematica_sampledata/:/home/archivematica/archivematica-sampledata/:ro"
      - "archivematica_pipeline_data:/var/archivematica/sharedDirectory:rw"
      - "archivematica_storage_service_staging_data:/var/archivematica/storage_service:rw"
      - "archivematica_storage_service_location_data:/home:rw"
    links:
      - "mysql"
